.event header{display:flex;background-color:#956a17;height:1.8em;line-height:1.8em;}
.event header .id-category{flex:0 0 120px;padding-left:1em;}
.event header h4{flex:1;margin:0;}
.event .take-part,.event .leave{flex:0 0 160px;font-weight:700;text-align:right;padding-right:1em;cursor:pointer;transition:color 0.4s;}
.event .take-part:hover,.event .leave:hover{color:#000;}
.event-wrap{display:flex;}
.event-wrap>p{flex:1;padding-left:1em;}